@font-face {
    font-family: 'Lemon_Yellow_Sun';
    src: url('/fonts/Lemon_Yellow_Sun-webfont.woff2') format('woff2'),
         url('/fonts/Lemon_Yellow_Sun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
