.me-font {
  font-family: 'Lemon_Yellow_Sun';
}
.me-juice {
  height: 100%;
  .photo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    &.mango {
      background-image: url("/images/me/mango.jpg");
    }
    &.lychee {
      background-image: url("/images/me/lychee.jpg");
    }
    &.grape {
      background-image: url("/images/me/grape.jpg");
    }
  }
  .description {
    h4 {
      padding-bottom: 0.5em;
    }
  }
}
.me-caption {
  @extend .align-center;
  z-index: 1;
  padding-top: 1em;
  padding-bottom: 2em;
  position: relative;
  text-align: center;
  &:before {
    z-index: -1;
    @extend .me-font;
    position: absolute;
    margin: 0.1em auto auto auto;
    content: 'Me';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 1em;
    width: 2em;
    font-size: 3em;
    font-weight: lighter;
  }
  &.pink:before {
    color: #ffbac8;
  }
  &.blue:before {
    color: #bac6ff;
  }
  &.yellow:before {
    color: #fdd741;
  }
  &.grey:before{
    color: #dbdbdb;
  }
}
.contact-us {
  background: #f5f5f5;
}
.parallax-window {
  min-height: 16em;
  background: transparent;
}
