---
layout: default
title: Me!
description: Blood Food e-Juice homepage
keywords: blood food, me, e-juice
---
.row.me-juice.scroll-section.align-middle
  .small-7.columns.photo.lychee
  .small-5.columns.description
    .row.align-center.align-middle
      .small-10.large-8.columns
        %h1.me-caption.pink Lychee
        %h4.text-center
          {% translate descriptions.lychee1 %}
          {% translate descriptions.lychee2 %}
.row.me-juice.scroll-section.align-middle
  .small-5.columns.description
    .row.align-center.align-middle
      .small-10.large-8.columns
        %h1.me-caption.blue Grape
        %h4.text-center
          {% translate descriptions.grape1 %}
          {% translate descriptions.grape2 %}
  .small-7.columns.photo.grape
.row.me-juice.scroll-section.align-middle
  .small-7.columns.photo.mango
  .small-5.columns.description
    .row.align-center.align-middle
      .small-10.large-8.columns
        %h1.me-caption.yellow Mango
        %h4.text-center
          {% translate descriptions.mango1 %}
          {% translate descriptions.mango2 %}
.row.contact-us.align-center.align-middle.inter-scroll-section
  .small-5.columns
    %h1.me-caption.grey Contact
    %h4.text-center
      Ukraine
    %h4.text-center
      Lviv, Filatova St., 15
    %h1.text-center
      %a{href: "https://www.instagram.com/bloodfood.co/"}
        %i.fa.fa-instagram
      %a{href: "https://www.facebook.com/BloodFoodCo-286464878428977/"}
        %i.fa.fa-facebook
      %a{href: "https://vk.com/bloodfood"}
        %i.fa.fa-vk
