%ul.menu.horizontal.quiet.languages-switcher
  %li
    %a{href: "/"}
      %img{src: "/images/flags/uk.png"}
  %li
    %a{href: "/ua"}
      %img{src: "/images/flags/ua.png"}
  %li
    %a{href: "/ru/"}
      %img{src: "/images/flags/ru.png"}
